<div class="footer"> 
	<div class="r1">
		<div id="r1a"><p>24/7 support</p></div>
		<div id="r1b"><p>Best prices Guaranteed</p></div>
		<div id="r1c"><p>Certified Expert Assistance</p></div>
	</div>
	<div class="r2">
		<div class="center">
			<div class="logo">
				<i class="fa fa-diamond"></i><h2>roamyo</h2>
			</div>
			<div class="logo">
				<p>powered by</p>
				<h1>viator</h1>
			</div>
		</div>
	</div>
	<div class="r3">
		<div class="r3a">
			<p>sign up for messages and for resort promos<p>
			<input id="searchbox" type="search" name="searchbox" placeholder="EMAIL ADDRESS">
			<button id="searchbtn" name="subject" type="submit">SUBMIT</button>
		</div>
	</div>
	<div class="r4">
		<div class="r4a">
			<div><h2>Roamyo</h2>
				<a href="">Policies </a>
				<a href="">News</a>
				<a href="">Careers</a>
				
			</div>
			<div><h2>Discover</h2>
				<a href="">Trust & Safety </a>
				<a href="">Invite Friends</a>
				<a href="">Roamyo Citizens </a>
				
			</div>
			<div><h2>Hosting</h2>
				<a href="">Why Hosts</a>
				<a href="">Refer Hosts</a>
				<a href="">Hospitality</a>
				
			</div>
			<div><h2>Support</h2>
				<a href="">Customer Care</a>
			</div>
		</div>
	</div>
	<div class="r5">
		<hr>
		<small>&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  &copy;2020 Roamyo, Inc All Rights reserved</small>
		<a href=""><i class="fa fa-instagram"></i></a>
		<a href=""><i class="fa fa-facebook"></i></a>
		<a href=""><i class="fa fa-twitter"></i></a>
	</div>
</div> 